<!DOCTYPE html>

<html lang="fr">	

<head>
<meta http-equiv="Content-Type" content="text/html"> <meta charset="utf-8">  
<meta name="description" content="Ecole de musique 閿燂拷 Aulnay-sous-Bois">
<meta name="keywords" content="musique, cours de piano, fl妤ｇ, batterie, guitare, concert, aulnay sous bois, la scuola">
<meta name="author" content="MANETTE Chantal"> 
<meta name="generator" content="Site web de la Scuola">

<title>LA SCUOLA - ECOLE DE MUSIQUE A AULNAY-SOUS-BOIS - PAGE D'ACCUEIL</title>
<link rel="stylesheet" type="text/css" href="css/style.css">	   
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body> 

<section class="to">

<div style="text-align: center"><img src="images/logscuola.png" border="0" width="" height="" alt=""></div>

<?php 
include ('menu/menu.php');
?>




<div id="contenuindex">
	
	<section>  
		
		<div class="a">
		<p>Rejoignez-nous sur :</p> 
		<a href="https://www.facebook.com/lascuola.fr/" target="_blank">
			<img src="images/facebook.jpg" border="0" width="103" height="58" alt="">
		</a>		
		</div>
		
		<div class="b">
		<marquee>Depuis le temps que vous cherchiez votre cours de musique bienvenue au club ! Nous vous proposons des cours adapt闂侊拷 閿燂拷 votre disponibilit閿燂拷, vos capacit闂侊拷 et votre niveau. Pr闂冪穾 pour l'aventure ? Alors n'h闂佺剾tez plus !....</marquee>
		</div> 
		
		<div class="c">
		<img class="souslogo" src="images/logo.jpg" border="1" width="850" height="151" alt="" align="middle">		
		</div>
		
	</section>
	
	
	<section class="videos">  

		<div class="d">
			<object width="425" height="355">					   
			<param name="movie" value="https://www.youtube.com/v/A9SlJuJWuHQ?autoplay=1&amp;&amp;rel=0;feature=%3Eplayer_embedded"></param>
			<param name="wmode" value="transparent"></param>			  	
			<embed src="http://www.youtube.com/v/A9SlJuJWuHQ?autoplay=1&amp;&amp;rel=0;feature=%3Eplayer_embedded" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
			</object>
		</div>

		<div class="e">
			<object width="425" height="355">					   
			<param name="movie" value="https://www.youtube.com/v/Q9i5Sk24gUQ?&amp;&amp;rel=0;feature=%3Eplayer_embedded"></param>
			<param name="wmode" value="transparent"></param>
			<embed src="http://www.youtube.com/v/Q9i5Sk24gUQ?&amp;&amp;rel=0;feature=%3Eplayer_embedded" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
			</object>	
		</div>	
	
	
	</section>


</div>




</section>
</body>
</html>




