<form name="calendar" method="post">


    <div id="formCard" class="card mx-auto" style="width: 28rem;">
        <div id="entete" data-target="#corps" class="card-header">
            <h3 class="text-center">AJOUTER UN RENDEZ-VOUS</h3>
        </div>
        <ul id="corps" class="list-group list-group-flush" style="">
    
            <li class="list-group-item">
                <label for="calendar_title" class="required">Nom du rendez-vous :</label>
                <input type="text" id="calendar_title" name="calendar[title]" required="required" maxlength="100" class="form-control">
                
            </li>
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col-6">
                    <label class="required">Début :</label>
                    <div id="calendar_start" class=""><input type="date" id="calendar_start_date" name="calendar[start][date]" required="required"><div id="calendar_start_time">
                <select id="calendar_start_time_hour" name="calendar[start][time][hour]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<select id="calendar_start_time_minute" name="calendar[start][time][minute]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select>        </div></div>
                    
                    </div>
    
                    <div class="col-6">
                    <label class="required">Fin :</label>
                    <div id="calendar_end" class=""><input type="date" id="calendar_end_date" name="calendar[end][date]" required="required"><div id="calendar_end_time">
                <select id="calendar_end_time_hour" name="calendar[end][time][hour]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<select id="calendar_end_time_minute" name="calendar[end][time][minute]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select>        </div></div>
                    
                    </div>
    
                    <div class="mx-auto mt-2">
                    <label for="calendar_all_day">Jour entier :</label>
                    <input type="checkbox" id="calendar_all_day" name="calendar[all_day]" class="" value="1">
                    
                    </div>
                </div>
            </li>
    
    
            <li class="list-group-item">
                <label for="calendar_description" class="required">Description :</label>
                <textarea id="calendar_description" name="calendar[description]" required="required" class="form-control"></textarea>
                
            </li>
            <li class="list-group-item">
                <label for="calendar_background_color" class="required">Couleur de fond:</label>
                <input type="color" id="calendar_background_color" name="calendar[background_color]" class="form-control">
                
            </li>
            <li class="list-group-item">
                <label for="calendar_border_color" class="required">Couleur de bordure :</label>
                <input type="color" id="calendar_border_color" name="calendar[border_color]" class="form-control">
                
            </li>
            <li class="list-group-item">
                <label for="calendar_text_color" class="required">Couleur du texte :</label>
                <input type="color" id="calendar_text_color" name="calendar[text_color]" class="form-control">
                
            </li>
    
    
    
            <li class="list-group-item">
                <div>
                    Vos groupes :
                    {% for row in groupe %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="calendar[groupe][]" value={{row.id}} id={{row.id}}>
                            <label class="custom-control-label" for={{row.id}}>{{row.nomGroupe}}</label>
                        </div>
                    {% endfor %}
                </div>
            </li>
    
    
            <li class="list-group-item">
                <div class="mx-auto"><div><button type="submit" id="calendar_Ajouter" name="calendar[Ajouter]" class="btn btn-dark">Ajouter un rendez-vous</button></div></div>
            </li>
    
    
        </ul>
    </div>
    
    
    <input type="hidden" id="calendar__token" name="calendar[_token]" value="hRbJuH36d5SNRNaZM9vUirPa2RqcFbQLKhSVdslDzOE"></form>