<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div>Vous avez oublié votre mot de passe ?</div>
    <div>Cliquez sur ce lien pour recréer un autre mot de passe : </div>

    <a href="http://127.0.0.1:8000/login/oubliRegister/{{user.id}}">Créez un nouveau mot de passe</a>
</body>
</html>