{% extends 'header_scuola.html.twig' %}

{% block title %}
La Scuola - Nous contacter
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/scuola/style_sbody.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}
<div id="tarif" class="container mb-5">
	
	<div id="letitre" class="mt-3 text-center">Tarifs</div>


	
	<section id="tariftablo">

		
		{% set logo = 'logotarif.jpg' %}
		{% set tabtarif = 'tarifsimage.jpg' %}


		<div><img class="rounded" src="{{ asset('images/scuola/tarifs/'~ tabtarif) }}" border="0" alt=""></div>


	</section>
	




	{% block javascript %}
	<script src="{{ asset('js/scuola/acces.js') }}"></script>
	{% endblock %}

{% endblock body %}















