{% block body %}

<div class="container">
{{form_start(form)}}

{{form_row(form.content, {'attr': {'placeholder':'contenu de votre article','rows':'12','cols':'100'}})}}
{{form_end(form)}}



</div>

{% endblock %}